In [1]:
import os
import re
import math
import random
import warnings

import numpy as np
import pandas as pd

In [2]:
input_dir = '../Data/'
#print(os.listdir(input_dir))

professionals = pd.read_csv(os.path.join(input_dir, 'professionals.csv'))
groups = pd.read_csv(os.path.join(input_dir, 'groups.csv'))
comments = pd.read_csv(os.path.join(input_dir, 'comments.csv'))
school_memberships = pd.read_csv(os.path.join(input_dir, 'school_memberships.csv'))
tags = pd.read_csv(os.path.join(input_dir, 'tags.csv'))
emails = pd.read_csv(os.path.join('../../../data-science-for-good-careervillage/emails.csv'))
group_memberships = pd.read_csv(os.path.join(input_dir, 'group_memberships.csv'))
answers = pd.read_csv(os.path.join(input_dir, 'answers.csv'))
students = pd.read_csv(os.path.join(input_dir, 'students.csv'))
matches = pd.read_csv(os.path.join('../../../data-science-for-good-careervillage/matches.csv'))
questions = pd.read_csv(os.path.join(input_dir, 'questions.csv'))
tag_users = pd.read_csv(os.path.join(input_dir, 'tag_users.csv'))
tag_questions = pd.read_csv(os.path.join(input_dir, 'tag_questions.csv'))
answer_scores = pd.read_csv(os.path.join(input_dir, 'answer_scores.csv'))
question_scores = pd.read_csv(os.path.join(input_dir, 'question_scores.csv'))

## Number of emails recieved for each user

In [3]:
emails.head()

,emails_id,emails_recipient_id,emails_date_sent,emails_frequency_level
0,2337714,0c673e046d824ec0ad0ebe012a0673e4,2018-12-07 01:05:40 UTC+0000,email_notification_daily
1,2336077,0c673e046d824ec0ad0ebe012a0673e4,2018-12-06 01:14:15 UTC+0000,email_notification_daily
2,2314660,0c673e046d824ec0ad0ebe012a0673e4,2018-11-17 00:38:27 UTC+0000,email_notification_daily
3,2312639,0c673e046d824ec0ad0ebe012a0673e4,2018-11-16 00:32:19 UTC+0000,email_notification_daily
4,2299700,0c673e046d824ec0ad0ebe012a0673e4,2018-11-08 00:16:40 UTC+0000,email_notification_daily

In [4]:
user_email_count = emails["emails_recipient_id"].value_counts()
user_email_count.head()

0079e89bf1544926b98310e81315b9f1    3496
36ff3b3666df400f956f8335cf53e09e    3348
a082cb6441ce48f6bf9abe0f8e55d5fe    2970
82d744719ffd452a8b1bd62cd17e5056    2637
a41eeb74c7ad4310be0a166d3dac3d12    2587
Name: emails_recipient_id, dtype: int64

## Import Professionals and count professions

In [5]:
professionals.head(5)

,professionals_id,professionals_location,professionals_industry,professionals_headline,professionals_date_joined
0,9ced4ce7519049c0944147afb75a8ce3,NaN,NaN,NaN,2011-10-05 20:35:19 UTC+0000
1,f718dcf6d2ec4cb0a52a9db59d7f9e67,NaN,NaN,NaN,2011-10-05 20:49:21 UTC+0000
2,0c673e046d824ec0ad0ebe012a0673e4,"New York, New York",NaN,NaN,2011-10-18 17:31:26 UTC+0000
3,977428d851b24183b223be0eb8619a8c,"Boston, Massachusetts",NaN,NaN,2011-11-09 20:39:29 UTC+0000
4,e2d57e5041a44f489288397c9904c2b2,NaN,NaN,NaN,2011-12-10 22:14:44 UTC+0000

In [6]:
profession_count = professionals["professionals_industry"].value_counts()
profession_count

Telecommunications                                                   3166
Information Technology and Services                                  2109
Computer Software                                                    1272
Hospital and Health Care                                              862
Higher Education                                                      800
Accounting                                                            781
Financial Services                                                    639
Education Management                                                  593
Marketing and Advertising                                             526
Internet                                                              427
Human Resources                                                       377
Mechanical or Industrial Engineering                                  359
Management Consulting                                                 354
Research                                                              319
Non-profit Organization Management                                    293
Law Practice                                                          287
Entertainment                                                         283
Health, Wellness and Fitness                                          253
Medical Practice                                                      246
Computer Hardware                                                     241
Mental Health Care                                                    222
Biotechnology                                                         215
Broadcast Media                                                       201
Pharmaceuticals                                                       195
Airlines/Aviation                                                     192
Design                                                                190
Writing and Editing                                                   181
Computer Games                                                        167
Retail                                                                166
Music                                                                 165
                                                                     ...
Conservation                                                            1
Professional Development Training                                       1
Internet, en                                                            1
Life & Career Coaching                                                  1
Physics                                                                 1
Information Technology, Computers, Servers                              1
graphic design                                                          1
Ranching                                                                1
Student studying Biological Anthropology and Biochemistry               1
Customer Service Representative                                         1
Telecommunications / Media / Technology                                 1
Finance & IT                                                            1
Computer Software (Project Mgmt)                                        1
Architecture & Design                                                   1
Insurance Auditing                                                      1
Bachelor                                                                1
JD MA BS                                                                1
UX/UI Design                                                            1
International Affairs/Political Science/Law                             1
Photography, Technology                                                 1
welder/fabrication                                                      1
Tech PR                                                                 1
teacher                                                                 1
Financial services                                                      1
Electronics and Telecommunications Engineering                          1
Social Media & Digital Marketing                                        1
Government Relations, Sales, Export, Health Products, ESL abroad.       1
Internet and Non-Profit                                                 1
Consulting, Internal Audit, Information Technology/Services             1
Graphic Design, Advertising and Management                              1
Name: professionals_industry, Length: 2470, dtype: int64

In [16]:
result = answer_scores.sort_values('score', ascending=False)
print(result)

                                     id  score
53     c643a5cc6a4f4f02bc91bd663cf33577     30
6836   f840b044ffc547bcbbe0dac9e6d69e6d     25
98     4570cb0d84d6478bad46e9b1741e4ec9     22
1061   0c4067ad61f4486ebbae927ea0983175     20
242    281c2557f0154dde984707e40100b8b4     19
6835   d76a0ac4eb41444087580038ee864239     18
6506   1f8a01c25b6842f2996b6e363679a97d     17
8678   4dfdfa0ce97e4d10936eac6c4b541a58     15
66     eac0721e8a6c4b89896a8d26e7e85741     14
5195   d36f8af96d0c4706ba3a9e8bfcba4db6     14
90     f12906528a5f45dabd8503dfd452f899     14
1041   6cfe278a3cef42d5b386c8badced675d     13
514    c64d083e0df74b9d8f1680aec42c45cd     13
284    e2c8b65b597240dc87ab0e25d61159df     13
21511  06e548731247411396e54be2a812dee5     12
13208  fa66a52b6693479fafd3c29d89de1a72     12
12995  3f9e721e50664da78f70ae122a1794ca     12
249    a0ab7598b93e4f7bb13dab64d5708265     12
130    e78bc11b17d847fcb1fb391fbd8ae88a     12
12937  793d623eef89497196f73c98b2ff4d20     12
13296  334d410b56db434ea0f987656fca7bcb     12
35153  6ffa0b077ff34eebb1e2b57a5863e050     11
216    aaf3ad4278f44929a10b00e4863538b8     11
10509  5e91b91554984374843ea9f027cd54ec     11
1059   a0c7410146aa4824ac92c9affb1a7edb     11
29246  c8c6131b7bc34a2db55364325935f691     11
331    a30e765d8e804b399879d9f7634045a9     10
29253  39419d9ce37d463dad941bb781678185     10
1051   0598e0da62b144e78ea7565e32c4d9bb     10
44     c657bb4bef4a48ff83dd27b497a3ed56     10
...                                 ...    ...
21739  9ce221ad2827427bafa54001bfe7d4a8      0
21741  177f05a6132f4d5eb7d84c5f624d491c      0
21708  d6b22807106c453f99915e6842a663f7      0
21742  f1b93f035ff34e9e9ca1adde2bb7583c      0
21745  6bb535e399854bcba88a1f391af0351e      0
21746  a6ea3b2a902d490889e3b8d8a285bd58      0
21747  991f16779c04462d87fb8aeda91ea72f      0
21748  e826e12a739d47f2a35a08041b1270c0      0
21751  59524c318d5849f395d4b7236be63ee3      0
21752  961bcd0f838b49879c3187b227942b76      0
21732  f7d3862dcb854ebe9c313a5be0dbd27a      0
21731  77c03180fe8c493f9f5a90d1c2852383      0
21730  08addb8d3f834ed08cdd50c400b9bea0      0
21729  ea2bf0dcf0f24165b0c54f54dc0128c6      0
21709  060fb7663f6d4580bf1069c8404ea596      0
21710  f035748894374a1f8db40c151038c992      0
21711  ab6b40db625342618a818773e6dcbb2f      0
21712  93bce3e85ba74e458720f904a685f467      0
21713  ef8dadb139bb4781940bc4c13dcd3ee5      0
21715  a793a2bfe78f4ab1b3d32a197ea78ba3      0
21717  7569b2d6fdae4a9dbd2fdc95346f4fad      0
21718  59f467ac4ede418bacaaa2fc66cd2a00      0
21719  c9a6da0f923444e9a038b4b77793f064      0
21720  8fa267c3fa19496985e6e59bd521b535      0
21722  783f040f9bda4f9aa1a64be06a9b37c0      0
21723  0fcccbf1f4384bf69f4d005cbbe75d50      0
21724  03dac4354ce34192980c195127a6dc7e      0
21726  601b8112705046118a4cf35a4f3e3ad9      0
21728  e6661fda57504fe1ad2c3175016534ef      0
51137  144f403d524a4e0383ebf01b84fa2d56      0

[51138 rows x 2 columns]