In [5]:
import pandas as pd

## Number of emails recieved for each user

In [8]:
emails = pd.read_csv("../../../data-science-for-good-careervillage/emails.csv")
email_df = pd.DataFrame(emails)
email_df.head()

,emails_id,emails_recipient_id,emails_date_sent,emails_frequency_level
0,2337714,0c673e046d824ec0ad0ebe012a0673e4,2018-12-07 01:05:40 UTC+0000,email_notification_daily
1,2336077,0c673e046d824ec0ad0ebe012a0673e4,2018-12-06 01:14:15 UTC+0000,email_notification_daily
2,2314660,0c673e046d824ec0ad0ebe012a0673e4,2018-11-17 00:38:27 UTC+0000,email_notification_daily
3,2312639,0c673e046d824ec0ad0ebe012a0673e4,2018-11-16 00:32:19 UTC+0000,email_notification_daily
4,2299700,0c673e046d824ec0ad0ebe012a0673e4,2018-11-08 00:16:40 UTC+0000,email_notification_daily

In [26]:
user_email_count = email_df["emails_recipient_id"].value_counts()
user_email_count.head()

0079e89bf1544926b98310e81315b9f1    3496
36ff3b3666df400f956f8335cf53e09e    3348
a082cb6441ce48f6bf9abe0f8e55d5fe    2970
82d744719ffd452a8b1bd62cd17e5056    2637
a41eeb74c7ad4310be0a166d3dac3d12    2587
Name: emails_recipient_id, dtype: int64

## Import Professionals and count professions

In [29]:
professions = pd.read_csv("../Data/professionals.csv")
professional_industry = pd.DataFrame(professions)
professional_industry.head(5)

,professionals_id,professionals_location,professionals_industry,professionals_headline,professionals_date_joined
0,9ced4ce7519049c0944147afb75a8ce3,NaN,NaN,NaN,2011-10-05 20:35:19 UTC+0000
1,f718dcf6d2ec4cb0a52a9db59d7f9e67,NaN,NaN,NaN,2011-10-05 20:49:21 UTC+0000
2,0c673e046d824ec0ad0ebe012a0673e4,"New York, New York",NaN,NaN,2011-10-18 17:31:26 UTC+0000
3,977428d851b24183b223be0eb8619a8c,"Boston, Massachusetts",NaN,NaN,2011-11-09 20:39:29 UTC+0000
4,e2d57e5041a44f489288397c9904c2b2,NaN,NaN,NaN,2011-12-10 22:14:44 UTC+0000

In [32]:
profession_count = professional_industry["professionals_industry"].value_counts()
profession_count

Telecommunications                                           3166
Information Technology and Services                          2109
Computer Software                                            1272
Hospital and Health Care                                      862
Higher Education                                              800
Accounting                                                    781
Financial Services                                            639
Education Management                                          593
Marketing and Advertising                                     526
Internet                                                      427
Human Resources                                               377
Mechanical or Industrial Engineering                          359
Management Consulting                                         354
Research                                                      319
Non-profit Organization Management                            293
Law Practice                                                  287
Entertainment                                                 283
Health, Wellness and Fitness                                  253
Medical Practice                                              246
Computer Hardware                                             241
Mental Health Care                                            222
Biotechnology                                                 215
Broadcast Media                                               201
Pharmaceuticals                                               195
Airlines/Aviation                                             192
Design                                                        190
Writing and Editing                                           181
Computer Games                                                167
Retail                                                        166
Music                                                         165
                                                             ...
SaaS                                                            1
Healthcare Recruiting                                           1
Children & Family Services                                      1
Video games (PC, MMO, Consoles and Mobile)                      1
Professional Training, Career Coaching, Community Manager       1
Law Enforcement & Psychiatry                                    1
Magazine and Digital Media                                      1
Advertising Photography                                         1
Education, Math, Curriculum, Calculus                           1
customer service                                                1
Consumer                                                        1
Behavioral Health Rehabilitative Services                       1
Education; Health, Wellness and Fitness                         1
Social Worker at a Law Practice                                 1
Healthcare, Wellness and Fitness                                1
Game development                                                1
Counselling                                                     1
Finance/ Entrepreneurship/Fashion/Sales                         1
Retail Telecommunications Sales                                 1
International Corporate Affairs                                 1
Tax/Financial Services                                          1
Seattle University                                              1
Entertaiment                                                    1
Video Games/Computer Software                                   1
Health Industries                                               1
Zoo keeping                                                     1
Automotive and Engineering                                      1
Aviation maintenance                                            1
Telecommunications, IT                                          1
biomedical sciences/ biomedical engineering                     1
Name: professionals_industry, Length: 2470, dtype: int64