In [5]:
import pandas as pd

In [6]:
a_df = pd.read_csv("answers.csv")
p_df = pd.read_csv("professionals.csv")
q_df = pd.read_csv("questions.csv")

a_df.rename(columns={'answers_author_id':'professionals_id',
                          'answers_question_id':'questions_id'}, 
                 inplace=True)

In [7]:
a_df.head()

,answers_id,professionals_id,questions_id,answers_date_added,answers_body
0,4e5f01128cae4f6d8fd697cec5dca60c,36ff3b3666df400f956f8335cf53e09e,332a511f1569444485cf7a7a556a5e54,2016-04-29 19:40:14 UTC+0000,<p>Hi!</p>\n<p>You are asking a very interesti...
1,ada720538c014e9b8a6dceed09385ee3,2aa47af241bf42a4b874c453f0381bd4,eb80205482e4424cad8f16bc25aa2d9c,2018-05-01 14:19:08 UTC+0000,<p>Hi. I joined the Army after I attended coll...
2,eaa66ef919bc408ab5296237440e323f,cbd8f30613a849bf918aed5c010340be,eb80205482e4424cad8f16bc25aa2d9c,2018-05-02 02:41:02 UTC+0000,"<p>Dear Priyanka,</p><p>Greetings! I have answ..."
3,1a6b3749d391486c9e371fbd1e605014,7e72a630c303442ba92ff00e8ea451df,4ec31632938a40b98909416bdd0decff,2017-05-10 19:00:47 UTC+0000,<p>I work for a global company who values high...
4,5229c514000446d582050f89ebd4e184,17802d94699140b0a0d2995f30c034c6,2f6a9a99d9b24e5baa50d40d0ba50a75,2017-10-13 22:07:33 UTC+0000,I agree with Denise. Every single job I've had...

In [8]:
p_df.head()

,professionals_id,professionals_location,professionals_industry,professionals_headline,professionals_date_joined
0,9ced4ce7519049c0944147afb75a8ce3,NaN,NaN,NaN,2011-10-05 20:35:19 UTC+0000
1,f718dcf6d2ec4cb0a52a9db59d7f9e67,NaN,NaN,NaN,2011-10-05 20:49:21 UTC+0000
2,0c673e046d824ec0ad0ebe012a0673e4,"New York, New York",NaN,NaN,2011-10-18 17:31:26 UTC+0000
3,977428d851b24183b223be0eb8619a8c,"Boston, Massachusetts",NaN,NaN,2011-11-09 20:39:29 UTC+0000
4,e2d57e5041a44f489288397c9904c2b2,NaN,NaN,NaN,2011-12-10 22:14:44 UTC+0000

In [9]:
result = pd.merge(a_df, p_df, on="professionals_id")
result.shape

(50106, 9)

In [10]:
result.head()

,answers_id,professionals_id,questions_id,answers_date_added,answers_body,professionals_location,professionals_industry,professionals_headline,professionals_date_joined
0,4e5f01128cae4f6d8fd697cec5dca60c,36ff3b3666df400f956f8335cf53e09e,332a511f1569444485cf7a7a556a5e54,2016-04-29 19:40:14 UTC+0000,<p>Hi!</p>\n<p>You are asking a very interesti...,"Cleveland, Ohio",Mental Health Care,Assist with Recognizing and Developing Potential,2015-10-19 20:56:49 UTC+0000
1,f3519ab99a1a4a13a8a9ecb814287d2a,36ff3b3666df400f956f8335cf53e09e,0f1d6a4f276c4a05878dd48e03e52289,2016-07-31 15:35:54 UTC+0000,<p>Hi Rodrigo!</p>\n<p>The important thing to ...,"Cleveland, Ohio",Mental Health Care,Assist with Recognizing and Developing Potential,2015-10-19 20:56:49 UTC+0000
2,825f6e316a5f48328d6f8af831df9940,36ff3b3666df400f956f8335cf53e09e,0149c6d63e214040b44d4a3789bb00ba,2018-04-15 23:08:46 UTC+0000,<p>Congratulations on being interested in find...,"Cleveland, Ohio",Mental Health Care,Assist with Recognizing and Developing Potential,2015-10-19 20:56:49 UTC+0000
3,f3fc23809cda472780fc565334f35000,36ff3b3666df400f956f8335cf53e09e,acc611cfb5c44daa8a3d7d65dfffa5ff,2018-08-14 10:37:01 UTC+0000,<p>The most important thing that you can do is...,"Cleveland, Ohio",Mental Health Care,Assist with Recognizing and Developing Potential,2015-10-19 20:56:49 UTC+0000
4,7410001e9a2f46df982cba38ba60486a,36ff3b3666df400f956f8335cf53e09e,b44409c0c83a43578f4f2d0a0e4d8ead,2016-12-08 02:26:05 UTC+0000,<p>Hi Alexandra!</p>\n<p>Here is the site for ...,"Cleveland, Ohio",Mental Health Care,Assist with Recognizing and Developing Potential,2015-10-19 20:56:49 UTC+0000

In [11]:
result_df = pd.merge(result, q_df, on="questions_id")

In [12]:
result_df.head()

,answers_id,professionals_id,questions_id,answers_date_added,answers_body,professionals_location,professionals_industry,professionals_headline,professionals_date_joined,questions_author_id,questions_date_added,questions_title,questions_body
0,4e5f01128cae4f6d8fd697cec5dca60c,36ff3b3666df400f956f8335cf53e09e,332a511f1569444485cf7a7a556a5e54,2016-04-29 19:40:14 UTC+0000,<p>Hi!</p>\n<p>You are asking a very interesti...,"Cleveland, Ohio",Mental Health Care,Assist with Recognizing and Developing Potential,2015-10-19 20:56:49 UTC+0000,8f6f374ffd834d258ab69d376dd998f5,2016-04-26 11:14:26 UTC+0000,Teacher career question,What is a maths teacher? what is a ma...
1,f3519ab99a1a4a13a8a9ecb814287d2a,36ff3b3666df400f956f8335cf53e09e,0f1d6a4f276c4a05878dd48e03e52289,2016-07-31 15:35:54 UTC+0000,<p>Hi Rodrigo!</p>\n<p>The important thing to ...,"Cleveland, Ohio",Mental Health Care,Assist with Recognizing and Developing Potential,2015-10-19 20:56:49 UTC+0000,585ac233015447cc9e9a217044e515e1,2016-05-19 22:16:25 UTC+0000,what kind of college could i go to for a soc...,I like soccer because i been playing sense i w...
2,825f6e316a5f48328d6f8af831df9940,36ff3b3666df400f956f8335cf53e09e,0149c6d63e214040b44d4a3789bb00ba,2018-04-15 23:08:46 UTC+0000,<p>Congratulations on being interested in find...,"Cleveland, Ohio",Mental Health Care,Assist with Recognizing and Developing Potential,2015-10-19 20:56:49 UTC+0000,34217a1861d640a58c85e033414cf9cb,2018-04-12 17:13:45 UTC+0000,What is the best way to prepare for studying e...,"I am interested in Computational Neuroscience,..."
3,fb2c794175304c4caeb55e654270421f,a32736b04c27437da3078374d47af1b1,0149c6d63e214040b44d4a3789bb00ba,2018-04-13 18:18:05 UTC+0000,<p>Hi Elisabeth! </p><p><br></p><p>If you are ...,"San Francisco, California",Computer Software,Product Management @ Okta,2018-04-13 17:48:09 UTC+0000,34217a1861d640a58c85e033414cf9cb,2018-04-12 17:13:45 UTC+0000,What is the best way to prepare for studying e...,"I am interested in Computational Neuroscience,..."
4,f3fc23809cda472780fc565334f35000,36ff3b3666df400f956f8335cf53e09e,acc611cfb5c44daa8a3d7d65dfffa5ff,2018-08-14 10:37:01 UTC+0000,<p>The most important thing that you can do is...,"Cleveland, Ohio",Mental Health Care,Assist with Recognizing and Developing Potential,2015-10-19 20:56:49 UTC+0000,5b751a8ee4a047f7a08ce9eb5e43e5a2,2018-08-14 04:49:33 UTC+0000,How should I prepare myself for my job search ...,"I am a Sociology, Political Science, and Inter..."

In [13]:
result_df["professionals_industry"].nunique()

1200

In [14]:
result_df.shape

(50106, 13)

In [15]:
result_df["professionals_industry"].head()

0    Mental Health Care
1    Mental Health Care
2    Mental Health Care
3     Computer Software
4    Mental Health Care
Name: professionals_industry, dtype: object

In [16]:
result_df.dropna(subset=["professionals_industry"], inplace = True)

In [17]:
result_df.head()

,answers_id,professionals_id,questions_id,answers_date_added,answers_body,professionals_location,professionals_industry,professionals_headline,professionals_date_joined,questions_author_id,questions_date_added,questions_title,questions_body
0,4e5f01128cae4f6d8fd697cec5dca60c,36ff3b3666df400f956f8335cf53e09e,332a511f1569444485cf7a7a556a5e54,2016-04-29 19:40:14 UTC+0000,<p>Hi!</p>\n<p>You are asking a very interesti...,"Cleveland, Ohio",Mental Health Care,Assist with Recognizing and Developing Potential,2015-10-19 20:56:49 UTC+0000,8f6f374ffd834d258ab69d376dd998f5,2016-04-26 11:14:26 UTC+0000,Teacher career question,What is a maths teacher? what is a ma...
1,f3519ab99a1a4a13a8a9ecb814287d2a,36ff3b3666df400f956f8335cf53e09e,0f1d6a4f276c4a05878dd48e03e52289,2016-07-31 15:35:54 UTC+0000,<p>Hi Rodrigo!</p>\n<p>The important thing to ...,"Cleveland, Ohio",Mental Health Care,Assist with Recognizing and Developing Potential,2015-10-19 20:56:49 UTC+0000,585ac233015447cc9e9a217044e515e1,2016-05-19 22:16:25 UTC+0000,what kind of college could i go to for a soc...,I like soccer because i been playing sense i w...
2,825f6e316a5f48328d6f8af831df9940,36ff3b3666df400f956f8335cf53e09e,0149c6d63e214040b44d4a3789bb00ba,2018-04-15 23:08:46 UTC+0000,<p>Congratulations on being interested in find...,"Cleveland, Ohio",Mental Health Care,Assist with Recognizing and Developing Potential,2015-10-19 20:56:49 UTC+0000,34217a1861d640a58c85e033414cf9cb,2018-04-12 17:13:45 UTC+0000,What is the best way to prepare for studying e...,"I am interested in Computational Neuroscience,..."
3,fb2c794175304c4caeb55e654270421f,a32736b04c27437da3078374d47af1b1,0149c6d63e214040b44d4a3789bb00ba,2018-04-13 18:18:05 UTC+0000,<p>Hi Elisabeth! </p><p><br></p><p>If you are ...,"San Francisco, California",Computer Software,Product Management @ Okta,2018-04-13 17:48:09 UTC+0000,34217a1861d640a58c85e033414cf9cb,2018-04-12 17:13:45 UTC+0000,What is the best way to prepare for studying e...,"I am interested in Computational Neuroscience,..."
4,f3fc23809cda472780fc565334f35000,36ff3b3666df400f956f8335cf53e09e,acc611cfb5c44daa8a3d7d65dfffa5ff,2018-08-14 10:37:01 UTC+0000,<p>The most important thing that you can do is...,"Cleveland, Ohio",Mental Health Care,Assist with Recognizing and Developing Potential,2015-10-19 20:56:49 UTC+0000,5b751a8ee4a047f7a08ce9eb5e43e5a2,2018-08-14 04:49:33 UTC+0000,How should I prepare myself for my job search ...,"I am a Sociology, Political Science, and Inter..."

In [18]:
result_df2 = result_df.filter(['professionals_industry','questions_body', 'questions_id'])

In [19]:
result_df2.head()
result_df2.shape

(45479, 3)

In [20]:
result_df2['questions_body'] = result_df2['questions_body'].str.replace('#','')
result_df2['questions_body'] = result_df2['questions_body'].str.replace('\r\n','')

In [21]:
result_df2.to_csv ('data.csv', encoding="utf-8", index = False, sep=',')

PermissionError: [Errno 13] Permission denied: 'data.csv'

In [22]:
result_df2.head()

,professionals_industry,questions_body,questions_id
0,Mental Health Care,What is a maths teacher? what is a ma...,332a511f1569444485cf7a7a556a5e54
1,Mental Health Care,I like soccer because i been playing sense i w...,0f1d6a4f276c4a05878dd48e03e52289
2,Mental Health Care,"I am interested in Computational Neuroscience,...",0149c6d63e214040b44d4a3789bb00ba
3,Computer Software,"I am interested in Computational Neuroscience,...",0149c6d63e214040b44d4a3789bb00ba
4,Mental Health Care,"I am a Sociology, Political Science, and Inter...",acc611cfb5c44daa8a3d7d65dfffa5ff

In [ ]:
# frame['d']=frame.apply(lambda x if frace['c']=5: frame['f'])

In [ ]:
# frame['d']=frame.apply(lambda x: frame['c'] if frame['c']>0 else frame['b'],axis=0)


# for i in x:
#     df['s'][0] = 1
#     next
#     if x[i] != x[i-1]:
#         df['s'][i] = 1
#     else:
#         df['s'][i]=0